<div style="margin: 0.5rem;">
    <h1>Hello Recipe</h1>
    <h2>Welcome to our food hub</h2>
    <p>Check console for usage of <strong>"of"</strong> keyword to create streams of Observable...</p>
    <!-- <normal-selector></normal-selector>
    <div app-attribute-selector ></div>
    <div class="app-class-selector"></div> -->
    <h2>Here starts our cooking</h2>
    <div style="margin-top: 2rem;">
        <div class="card" style="width:400px" *ngFor="let recipe of recipeList">
            <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="#" class="btn btn-primary">Check Recipe</a>
            </div>
        </div>
    </div>
</div>
