<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}
  </h1>  
  <div class="container">
    <div class="row">
      <div class="col-xs-4" style="border: 1px solid black; width:400px;"> 
        <b>Filters</b>
        <div style=" text-align: center;">
          <span>Launch Year</span>
          <hr>
          <div class="container">
            <div class="row">
              <div *ngFor="let year of getAllYearsArray" class="col-xs-6">
                <button (click)="yearSelected(year.year)" class="btn active"> {{year.year}}</button>
              </div>
            </div>            
          </div>
        </div>
        <div style=" text-align: center;">
          <span>Successful Launch</span>
          <hr>
          <div class="container">
            <div class="row">
              <div *ngFor="let filterVal of booleanFIlter" class="col-xs-6">
                <button (click)="sucessLaunchSelected(filterVal.filterName)" class="btn active"> {{filterVal.filterName}}</button>
              </div>
            </div>            
          </div>
        </div>
        <div style=" text-align: center;">
          <span>Successful Landing</span>
          <hr>
          <div class="container">
            <div class="row">
              <div *ngFor="let filterVal of booleanFIlter" class="col-xs-6">
                <button (click)="sucessLandingSelected(filterVal.filterName)" class="btn active"> {{filterVal.filterName}}</button>
              </div>
            </div>            
          </div>
        </div>      
      </div>
    </div>    
    <div class="row">
      <div *ngFor="let flight of getAllProjects" class="col-xs-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="flight.links.mission_patch_small" alt="Card image cap">
          <div class="card-body">
            <b>{{flight.mission_name}} #{{flight.flight_number}}</b> <br>
            <b>Mission Ids: </b> <span>{{flight.mission_id[0]}}</span> <br>
            <b>Launch Year: </b> <span>{{flight.launch_year}}</span> <br>
            <b>Successful Launch: </b> <span>{{flight.launch_success}}</span> <br>
            <b>Successful Landing: </b> <span>{{flight.launch_success}}</span> <br>
          </div>
        </div>     
      </div>     
    </div>    
  </div>
  <div>Developed by: {{developerName}}</div>
  
</div>
